@model WebApplication1.Models.EditVM
@{
    ViewBag.Title = "Edit Order";
}

<h1>Edit Order</h1>

<form method="post">
    <input type="hidden" name="OrderID" value="@Model.Order.OrderID" />
    <select name="DrinkID">
        @foreach (var drink in Model.Drinks)
        {
            <option value="@drink.DrinkID">@drink.Name $@drink.Price.ToString("#.00")</option>
        }
    </select>
    <button type="submit">Submit</button>
</form>
@Html.ActionLink("cancel", "ViewOrder", new { id=Model.Order.OrderID })