@model List<WebApplication1.Models.Drink>
@{
    ViewBag.Title = "Home Page";
}

<h1>Home Page</h1>
<h3>Menu Options</h3>
<ul>
    @foreach (var drink in Model)
    {
        <li>@drink.Name $@drink.Price.ToString("#.00")</li>
    }
</ul>

<div>@Html.ActionLink("CreateOrder", "CreateOrder", "Home")</div>
<div>@Html.ActionLink("OrderQueue", "OrderQueue", "Home")</div>