@{
    ViewBag.Title = "Order Queue";
}

<h1>Order Queue</h1>

<div id="queue">
    @Html.Action("QueueList", "Home")
</div>

<div>@Html.ActionLink("Home", "Index", "Home")</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/orderqueue.js"></script>
}